<div id="content" class="twelve columns">
  <div class="clearfix"></br></div>

  <div class="row">
    <h3 id="latest-listings"><span>Imóveis à venda</span></h3>

    <div class="four columns listing">
      <div class="post-container short">
        <a href="http://www.bonsaresimoveis.com.br/?listings=0178-centro">
          <img src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/scripts/resize.php?src=http://www.bonsaresimoveis.com.br/wp-content/uploads/2015/08/0178-destaque.jpg&amp;w=960&amp;h=450&amp;q=100" alt="" />
        </a>
        <h5><a href="http://www.bonsaresimoveis.com.br/?listings=0178-centro">0178 &#8211; Centro </a></h5>
        <p>&nbsp;<a class="small button" href="http://www.bonsaresimoveis.com.br/?listings=0178-centro">Ver mais</a></p>
      </div>
    </div>

    <div class="four columns listing">
      <div class="post-container short">
      <a href="http://www.bonsaresimoveis.com.br/?listings=0131-vivendas-do-la-salle">
        <img src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/scripts/resize.php?src=http://www.bonsaresimoveis.com.br/wp-content/uploads/2014/10/0131-destaque.jpg&amp;w=960&amp;h=450&amp;q=100" alt="" />
      </a>
      <h5><a href="http://www.bonsaresimoveis.com.br/?listings=0131-vivendas-do-la-salle">0131 &#8211; Vivendas do La Salle </a></h5>
      <p>&nbsp;<a class="small button" href="http://www.bonsaresimoveis.com.br/?listings=0131-vivendas-do-la-salle">Ver mais</a></p>
      </div>
    </div>

    <div class="four columns listing">
      <div class="post-container short">
        <a href="http://www.bonsaresimoveis.com.br/?listings=0119-centro">
          <img src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/scripts/resize.php?src=http://www.bonsaresimoveis.com.br/wp-content/uploads/2014/10/100_1194.jpg&amp;w=960&amp;h=450&amp;q=100" alt="" />
        </a>
        <h5><a href="http://www.bonsaresimoveis.com.br/?listings=0119-centro">0119 &#8211; Centro </a></h5>
        <p>&nbsp;<a class="small button" href="http://www.bonsaresimoveis.com.br/?listings=0119-centro">Ver mais</a></p>
      </div>
    </div>

    <div class="clear"></div>

    <h3 id="latest-listings"><span>Imóvels para locação</span></h3>

    <div class="four columns listing">
      <div class="post-container short">
        <a href="http://www.bonsaresimoveis.com.br/?listings=0180-jardim-paraiso">
          <img src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/scripts/resize.php?src=http://www.bonsaresimoveis.com.br/wp-content/uploads/2015/08/0180-destaque.jpg&amp;w=960&amp;h=450&amp;q=100" alt="" />
        </a>
        <h5><a href="http://www.bonsaresimoveis.com.br/?listings=0180-jardim-paraiso">0180 &#8211; Jardim Paraíso </a></h5>
        <p>&nbsp;<a class="small button" href="http://www.bonsaresimoveis.com.br/?listings=0180-jardim-paraiso">Ver Mais</a></p>
      </div>
    </div>

    <div class="four columns listing">
      <div class="post-container short">
        <a href="http://www.bonsaresimoveis.com.br/?listings=0175-sesi">
          <img src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/scripts/resize.php?src=http://www.bonsaresimoveis.com.br/wp-content/uploads/2015/06/0175-DESTAQUE.jpg&amp;w=960&amp;h=450&amp;q=100" alt="" />
        </a>
        <h5><a href="http://www.bonsaresimoveis.com.br/?listings=0175-sesi">0175 &#8211; AEROPORTO </a></h5>
        <p>&nbsp;<a class="small button" href="http://www.bonsaresimoveis.com.br/?listings=0175-sesi">Ver Mais</a></p>
      </div>
    </div>

    <div class="four columns listing">
      <div class="post-container short">
        <a href="http://www.bonsaresimoveis.com.br/?listings=0179-jardim-paraiso">
          <img src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/scripts/resize.php?src=http://www.bonsaresimoveis.com.br/wp-content/uploads/2015/08/0179-destaque.jpg&amp;w=960&amp;h=450&amp;q=100" alt="" />
        </a>
        <h5><a href="http://www.bonsaresimoveis.com.br/?listings=0179-jardim-paraiso">0179 &#8211; Jardim Paraíso </a></h5>
        <p>&nbsp;<a class="small button" href="http://www.bonsaresimoveis.com.br/?listings=0179-jardim-paraiso">Ver Mais</a></p>
      </div>
    </div>

  </div><!--end row-->
</div><!--end content-->