<div id="content" class="twelve columns">
  <div class="clearfix"></br></div>

  <div class="row">
    <h3 id="latest-listings"><span>Imóveis à venda</span></h3>
    <% RealEstate.all.each do |real_estate| %>
      <div class="four columns listing">
        <div class="post-container short">
          <%= link_to real_estate_path(real_estate.id) do %>
            <%= image_tag real_estate.image_url %>
          <% end %>
          <%= label_tag "#{real_estate.id} - #{real_estate.tipo} #{real_estate.neighborhoods.first.name}" %>
        </div>
      </div>
    <% end %>
  </div>
</div>