<div class="row">
  <div id="content" class="ten columns centered">
    <div class="post-container short" style="padding: 25px 50px; text-align: center; margin: 50px 0;">
      <div class="post-title" style="margin-bottom: 30px">
        <h1>Sobre</h1>
      </div>
      <div class="post-content">
        <p>
          A Bons Ares Imóveis é uma empresa que atua em Botucatu e região. Está focada na venda, locação, administração de casas, apartamentos, terrenos, chácaras e sítios. Estamos habilitados para auxiliar prontamente nossos clientes com agilidade, presteza e segurança. Possuímos corpo jurídico próprio, com experiência na análise de toda documentação imobiliária, visando garantir a correta comercialização do bem ou a sua eventual regularização. A nossa missão é o atendimento do cliente, oferecendo produtos e serviços no mercado imobiliário. Investir em imóveis é a forma mais segura de preservar seu patrimônio.
        </p>
      </div><!--post-contetn-->
    </div><!--post-container-->
  </div><!--end content-->
</div><!--wrap-->
