<div id="wrap" class="row">
  <div id="content" class="twelve columns">
    <div class="post-container short">
      <div class="post-content" style="padding: 25px 50px; text-align: center;">
        <p>Para maiores informações entre em contato conosco através do e-mail:</p>
        <address style="font-size: large;"><a href="mailto:bonsaresimoveis@gmail.com">bonsaresimoveis@gmail.com</a></address>
      </div>
    </div>
  </div>
</div>
