<div class="row homepage-bg">
  <div class="twelve columns centered">
    <div class="eight columns">
      <!-- SLIDER HOME-->
      <!-- OPÇAO 1: deixar estático -->
      <!-- OPÇAO 2: mostrar 3 primeiros cadastrados, -->
      <%= image_tag 'bg.jpg', style: 'height: 440px; width: 700px;' %>
    </div>

    <%= render partial: 'shared/search_box' %>

  </div>
</div>

<div id="wrap" class="row">
  <%= render partial: 'real_estates' %>
</div><!--wrap-->
