<!DOCTYPE html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Bons Ares Imóveis</title>

  <link rel="stylesheet" href="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/foundation-custom.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,100,300,700,900,900italic,300italic' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/style.css" type="text/css" media="screen" />
  <link rel="pingback" href="http://www.bonsaresimoveis.com.br/xmlrpc.php" />

  <script type='text/javascript' src='http://www.bonsaresimoveis.com.br/wp-includes/js/jquery/jquery.js?ver=1.10.2'></script>
  <script type='text/javascript' src='http://www.bonsaresimoveis.com.br/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.bonsaresimoveis.com.br/xmlrpc.php?rsd" />
  <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.bonsaresimoveis.com.br/wp-includes/wlwmanifest.xml" />
  <meta name="generator" content="WordPress 3.8.10" />

  <!--for orbit to work-->
  <script src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/scripts/foundation.js" type="text/javascript"></script>

  <!-- Add mousewheel plugin (this is optional) -->
  <script type="text/javascript" src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/scripts/jquery.mousewheel-3.0.6.pack.js"></script>

  <!-- Add fancyBox -->
  <link rel="stylesheet" href="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/scripts/jquery.fancybox.css" type="text/css" media="screen" />
  <script type="text/javascript" src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/scripts/jquery.fancybox.pack.js"></script>
  <script type="text/javascript" src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/scripts/app.js"></script>
  <script type="text/javascript" src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/scripts/tinynav.js"></script>
  <link rel="shortcut icon" href="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/images/favicon.ico" />

  <!-- Adicionado por Yuri para Facilitar -->
  <script src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/javascript.js"></script>
  <script src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/javascript.js"></script>

  <!-- Fontes -->
  <link href='http://fonts.googleapis.com/css?family=Kite+One' rel='stylesheet' type='text/css'><!--usando-->
  <link href='http://fonts.googleapis.com/css?family=Simonetta' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Mouse+Memoirs' rel='stylesheet' type='text/css'> <!-- usada no creci -->
  <link href='http://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>

  <!-- ColorBox -->
  <link href="demos/colorbox/colorbox.css" rel="stylesheet">
  <script src="demos/colorbox/jquery.colorbox-min.js"></script>

  <script type="text/javascript">
    jQuery(document).ready(function() {
      jQuery(".orbit-slide, .gallery img").fancybox({
        mouseWheel : true,
        fitToView : true,
        nextEffect : 'fade'
      });
      jQuery('ul.menu').tinyNav({
        active: 'selected'
      });
    });
  </script>

  <style>
    .homepage-bg {
      background:#324B73;
    }
  </style>
</head>

<body  class="home blog">
  <header>
    <div class="row">
      <div id="access" class="twelve columns centered">
        <div class="menu-header">
          <ul id="menu-principal" class="menu">
            <li id="menu-item-115" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-115"><%= link_to 'Home', root_path %></li>
            <li id="menu-item-9" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9"><a href="http://www.bonsaresimoveis.com.br/?page_id=7">Imóveis</a></li>
            <li id="menu-item-10" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10"><a href="http://www.bonsaresimoveis.com.br/?page_id=5">Sobre</a></li>
            <li id="menu-item-106" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-106"><a href="http://www.bonsaresimoveis.com.br/?page_id=104">Contato</a></li>
            <li id="menu-item-634" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-634"><a href="http://www.bonsaresimoveis.com.br/?page_id=631">Formulário de Contato</a></li>
          </ul>
        </div>
      </div><!-- #access -->
    </div>

    <div class="row">
      <div class="three columns logo-layer">
        <a href="http://www.bonsaresimoveis.com.br"><img src="http://www.bonsaresimoveis.com.br/wp-content/uploads/2013/09/bonsares-logo.jpg" alt="home" /></a>
      </div>
      <div class="one columns header-box hide-for-small">
        <p class="creci">CRECI 105385</p>
      </div>
      <div class="two columns hide-for-small header-box">
        <img class="header-img" src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/images/blue_phone.png" alt="">
        <p class="header-text">
          <span>(14) 3882 - 6102</span>
        </p>
      </div>
      <div class="three columns hide-for-small header-box">
        <img class="header-img" src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/images/home-icon.png" alt="">
        <p class="header-text">
          Rua Curuzu, 971 - Centro - Botucatu
        </p>
      </div>
      <div class="three columns search-layer hide-for-small">
        <form role="search" method="get" id="searchform" action="http://www.bonsaresimoveis.com.br/">
          <input type="text" value="" name="s" id="s" />
          <input type="submit" id="searchsubmit" value="Search" />
        </form>
      </div>
    </div>

    </header>
    <div class="row homepage-bg">
      <div class="twelve columns centered">
        <div class="eight columns">
          <!-- SLIDER HOME-->
          <div class="featured">
            <script type="text/javascript">
              $(window).load(function() {
                $('.featured').orbit({
                  animation: 'horizontal-push', // fade, horizontal-slide, vertical-slide, horizontal-push
                  animationSpeed: 800, // how fast animtions are
                  timer: true, // true or false to have the timer
                  resetTimerOnClick: false, // true resets the timer instead of pausing slideshow progress
                  advanceSpeed: 4000, // if timer is enabled, time between transitions
                  pauseOnHover: true, // if you hover pauses the slider
                  startClockOnMouseOut: true, // if clock should start on MouseOut
                  startClockOnMouseOutAfter: 1000, // how long after MouseOut should the timer start again
                  directionalNav: true // manual advancing directional navs
                });
              });
            </script>
            <a href="http://www.bonsaresimoveis.com.br/wp-content/uploads/2013/11/home.jpg" rel="grp">
              <img src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/scripts/resize.php?src=http://www.bonsaresimoveis.com.br/wp-content/uploads/2013/11/home.jpg&amp;w=1024&amp;h=669&amp;q=100" alt="" />
            </a>
            <a href="http://www.bonsaresimoveis.com.br/wp-content/uploads/2014/05/0079-destaque.jpg" rel="grp">
              <img src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/scripts/resize.php?src=http://www.bonsaresimoveis.com.br/wp-content/uploads/2014/05/0079-destaque.jpg&amp;w=1024&amp;h=669&amp;q=100" alt="" />
            </a>
            <a href="http://www.bonsaresimoveis.com.br/wp-content/uploads/2013/12/Home.jpg" rel="grp">
              <img src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/scripts/resize.php?src=http://www.bonsaresimoveis.com.br/wp-content/uploads/2013/12/Home.jpg&amp;w=1024&amp;h=669&amp;q=100" alt="" />
            </a>
            <a href="http://www.bonsaresimoveis.com.br/wp-content/uploads/2014/05/0081-destaque1.jpg" rel="grp">
              <img src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/scripts/resize.php?src=http://www.bonsaresimoveis.com.br/wp-content/uploads/2014/05/0081-destaque1.jpg&amp;w=1024&amp;h=669&amp;q=100" alt="" />
            </a>
            <a href="http://www.bonsaresimoveis.com.br/wp-content/uploads/2014/06/0075-d.jpg" rel="grp">
              <img src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/scripts/resize.php?src=http://www.bonsaresimoveis.com.br/wp-content/uploads/2014/06/0075-d.jpg&amp;w=1024&amp;h=669&amp;q=100" alt="" />
            </a>
            <a href="http://www.bonsaresimoveis.com.br/wp-content/uploads/2014/06/0100-destaque1.jpg" rel="grp">
              <img src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/scripts/resize.php?src=http://www.bonsaresimoveis.com.br/wp-content/uploads/2014/06/0100-destaque1.jpg&amp;w=1024&amp;h=669&amp;q=100" alt="" />
            </a>
            <a href="http://www.bonsaresimoveis.com.br/wp-content/uploads/2014/06/0092-destaque.jpg" rel="grp">
              <img src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/scripts/resize.php?src=http://www.bonsaresimoveis.com.br/wp-content/uploads/2014/06/0092-destaque.jpg&amp;w=1024&amp;h=669&amp;q=100" alt="" />
            </a>
          </div>
        </div>

        <div id="sidebar" class="four columns">
          <div class="sidebar-box search-listings ">
            <h3>Encontre seu imóvel:</h3>
            <p>
              <input type="radio" name="preco" onClick="show_buy()" checked="checked" value="0">Compra</input>
              <input type="radio" name="preco" onClick="show_rent()" value="1">Locação</input>
            </p>

            <div style="display: block;">

              <span class="sideText">Tipo</span>
              <div>
                <select class="busca" name="Tipo-dropdown" id="Tipo-dropdown">
                  <option value="#"> - Selecione - </option>
                  <option value="http://www.bonsaresimoveis.com.br/?Tipo=apartamento">Apartamento</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Tipo=area-de-lazer">Área de lazer</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Tipo=barracao">Barracão</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Tipo=casa">Casa</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Tipo=chacara">Chácara</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Tipo=comercial">Comercial</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Tipo=kitnet">Kitnet</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Tipo=salao-comercial-residencia">Salão Comercial + residência</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Tipo=sitio">Sítio</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Tipo=terreno">Terreno</option>
                </select>
              </div>

              <span class="sideText">Dormitórios</span>
              <div>
                <select class="busca" name="Dormitórios-dropdown" id="Dormitórios-dropdown">
                  <option value="#"> - Selecione - </option>
                  <option value="http://www.bonsaresimoveis.com.br/?Dormitórios=1">1</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Dormitórios=2">2</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Dormitórios=3">3</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Dormitórios=4">4</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Dormitórios=5">5</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Dormitórios=6">6</option>
                </select>
              </div>

              <span class="sideText">Área</span>
              <div>
                <select class="busca" name="Área-dropdown" id="Área-dropdown">
                  <option value="#"> - Selecione - </option>
                  <option value="http://www.bonsaresimoveis.com.br/?Área=50-100">50-100 m²</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Área=100-200">100-200 m²</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Área=200-300">200-300 m²</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Área=300-400">300-400 m²</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Área=400-500">400 - 500 m²</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Área=500-700">500 - 700 m²</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Área=700-800">700 - 800 m²</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Área=800-1000">800 - 1000 m²</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Área=0-50">0 - 50 m²</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Área=1000-2000">1000 - 2000 m²</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Área=10000-25-000">10000 - 25.000 m²</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Área=2000-2500">2000 - 2500 m²</option>
                </select>
              </div>

              <article id="buy">
                <span class="sideText">Preço</span>
                <div>
                  <select class="busca" name="Preço-dropdown" id="Preço-dropdown">
                    <option value="#"> - Selecione - </option>
                    <option value="http://www.bonsaresimoveis.com.br/?Preço=30-000-50-000">R$ 30.000 - 50.000</option>
                    <option value="http://www.bonsaresimoveis.com.br/?Preço=50-000-100-000">R$ 50.000 - 100.000</option>
                    <option value="http://www.bonsaresimoveis.com.br/?Preço=100-000-150-000">R$ 100.000 - 150.000</option>
                    <option value="http://www.bonsaresimoveis.com.br/?Preço=150-000-200-000">R$ 150.000 - 200.000</option>
                    <option value="http://www.bonsaresimoveis.com.br/?Preço=200-000-250-000">R$ 200.000 - 250.000</option>
                    <option value="http://www.bonsaresimoveis.com.br/?Preço=250-000-300-000">R$ 250.000 - 300.000</option>
                    <option value="http://www.bonsaresimoveis.com.br/?Preço=300-000-400-000">R$ 300.000 - 400.000</option>
                    <option value="http://www.bonsaresimoveis.com.br/?Preço=400-000-600-000">R$ 400.000 - 600.000</option>
                    <option value="http://www.bonsaresimoveis.com.br/?Preço=600-000-800-000">R$ 600.000 - 800.000</option>
                    <option value="http://www.bonsaresimoveis.com.br/?Preço=mais-que-1-000-000">R$ Mais que 1.000.000</option>
                  </select>
                </div>
              </article>

              <article id="rent" style="display:none;">
                <span class="sideText">Aluguel</span>
                <div>
                  <select class="busca" name="Aluguel-dropdown" id="Aluguel-dropdown">
                    <option value="#"> - Selecione - </option>
                    <option value="http://www.bonsaresimoveis.com.br/?Aluguel=r-200-400">R$ R$ 200 - 400</option>
                    <option value="http://www.bonsaresimoveis.com.br/?Aluguel=r-400-500">R$ R$ 400 - 500</option>
                    <option value="http://www.bonsaresimoveis.com.br/?Aluguel=r-500-600">R$ R$ 500 - 600</option>
                    <option value="http://www.bonsaresimoveis.com.br/?Aluguel=r-600-700">R$ R$ 600 - 700</option>
                    <option value="http://www.bonsaresimoveis.com.br/?Aluguel=r-700-1-000">R$ R$ 700 - 1.000</option>
                    <option value="http://www.bonsaresimoveis.com.br/?Aluguel=r-1-000-a-1-500">R$ R$ 1.000 - 1.500</option>
                    <option value="http://www.bonsaresimoveis.com.br/?Aluguel=r-1-500-2-000">R$ R$ 1.500 - 2.000</option>
                    <option value="http://www.bonsaresimoveis.com.br/?Aluguel=r-2-000-3-000">R$ R$ 2.000 - 3.000</option>
                    <option value="http://www.bonsaresimoveis.com.br/?Aluguel=acima-de-5-000">R$ Acima de 5.000</option>
                    <option value="http://www.bonsaresimoveis.com.br/?Aluguel=r-3-000-5-000">R$ R$ 3.000 - 5.000</option>
                  </select>
                </div>
              </article>

              <span class="sideText">Bairro</span>
              <div>
                <select class="busca" name="Bairro-dropdown" id="Bairro-dropdown">
                  <option value="#"> - Selecione - </option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=altos-do-paraiso">Altos do Paraíso</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=alvorada-da-barra">Alvorada da Barra</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=bairro-alto">Bairro Alto</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=boa-vista">Boa Vista</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=cabos-e-soldados">Cabos e Soldados</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=california-ii">Califórnia II</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=cambui">Cambuí</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=cascata-da-marta">Cascata da Marta</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=cedro">Cedro</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=centro">Centro</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=cohab-i">Cohab I</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=cohab-ii">Cohab II</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=cohab-v">Cohab V</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=comerciarios">Comerciários</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=comerciarios-iii">Comerciários III</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=convivio">Convívio</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=engenheiro-goulart">Engenheiro Goulart</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=hipica">Hípica</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=itamaraty">Itamaraty</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=jardim-aeroporto">Jardim Aeroporto</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=jardim-bandeirante">Jardim Bandeirante</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=jardim-bom-pastor">Jardim Bom Pastor</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=jardim-brasil">Jardim Brasil</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=jardim-continental">Jardim Continental</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=jardim-dona-nicota">Jardim Dona Nicota</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=jardim-panorama">Jardim Panorama</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=jardim-paraiso">Jardim Paraiso</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=jardim-paraiso-ii">Jardim Paraiso II</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=jardim-peaberu">Jardim Peaberu</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=jardim-regina">Jardim Regina</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=jardim-santa-helena">Jardim Santa Helena</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=jardim-santa-monica">Jardim Santa Mônica</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=lageado">Lageado</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=lavapes">Lavapés</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=monte-mor">Monte Mor</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=palos-verdes">Palos Verdes</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=parque-das-cascatas">Parque das Cascatas</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=recanto-azul">Recanto Azul</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=recreio-do-hawai">Recreio do Hawai</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=sesi">Sesi</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=souza-santos">Souza Santos</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=spazio-verde">Spazio Verde</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=vila-antartica">Vila Antártica</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=vila-aparecida">Vila Aparecida</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=vila-carmelo">Vila Carmelo</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=vila-dos-lavradores">Vila dos Lavradores</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=vila-dos-medicos">Vila dos Médicos</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=vila-ferroviaria">Vila Ferroviária</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=vila-jardim">Vila Jardim</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=vila-maria">Vila Maria</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=vila-mariana">Vila Mariana</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=vila-nogueira">Vila Nogueira</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=vila-sao-lucio">Vila São Lúcio</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=vila-suica">Vila Suiça</option>
                  <option value="http://www.bonsaresimoveis.com.br/?Bairro=vinte-e-quatro-de-maio">Vinte e Quatro de Maio</option>
                </select>
              </div>

              <span class="sideText">Referência</span>
              <div>
                <input id="referencia" type="text">
              </div>

            </div>

            <div>
              <a id="buscar" class="button soft-green">Buscar</a>
            </div>

            <br>

            <div>
              <a id="ref-search" class="button soft-green">Busca referência</a>
            </div>

            <div class="clear"></div>
          </div>

        </div><!--end sidebar-->
      </div>
    </div>

    <div id="wrap" class="row">
      <div id="content" class="twelve columns">
        <div class="clearfix"></br></div>

        <div class="row">
          <h3 id="latest-listings"><span>Imóveis à venda</span></h3>

          <div class="four columns listing">
            <div class="post-container short">
              <a href="http://www.bonsaresimoveis.com.br/?listings=0178-centro">
                <img src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/scripts/resize.php?src=http://www.bonsaresimoveis.com.br/wp-content/uploads/2015/08/0178-destaque.jpg&amp;w=960&amp;h=450&amp;q=100" alt="" />
              </a>
              <h5><a href="http://www.bonsaresimoveis.com.br/?listings=0178-centro">0178 &#8211; Centro </a></h5>
              <p>&nbsp;<a class="small button" href="http://www.bonsaresimoveis.com.br/?listings=0178-centro">Ver mais</a></p>
            </div>
          </div>

          <div class="four columns listing">
            <div class="post-container short">
            <a href="http://www.bonsaresimoveis.com.br/?listings=0131-vivendas-do-la-salle">
              <img src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/scripts/resize.php?src=http://www.bonsaresimoveis.com.br/wp-content/uploads/2014/10/0131-destaque.jpg&amp;w=960&amp;h=450&amp;q=100" alt="" />
            </a>
            <h5><a href="http://www.bonsaresimoveis.com.br/?listings=0131-vivendas-do-la-salle">0131 &#8211; Vivendas do La Salle </a></h5>
            <p>&nbsp;<a class="small button" href="http://www.bonsaresimoveis.com.br/?listings=0131-vivendas-do-la-salle">Ver mais</a></p>
            </div>
          </div>

          <div class="four columns listing">
            <div class="post-container short">
              <a href="http://www.bonsaresimoveis.com.br/?listings=0119-centro">
                <img src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/scripts/resize.php?src=http://www.bonsaresimoveis.com.br/wp-content/uploads/2014/10/100_1194.jpg&amp;w=960&amp;h=450&amp;q=100" alt="" />
              </a>
              <h5><a href="http://www.bonsaresimoveis.com.br/?listings=0119-centro">0119 &#8211; Centro </a></h5>
              <p>&nbsp;<a class="small button" href="http://www.bonsaresimoveis.com.br/?listings=0119-centro">Ver mais</a></p>
            </div>
          </div>

          <div class="clear"></div>

          <h3 id="latest-listings"><span>Imóvels para locação</span></h3>

          <div class="four columns listing">
            <div class="post-container short">
              <a href="http://www.bonsaresimoveis.com.br/?listings=0180-jardim-paraiso">
                <img src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/scripts/resize.php?src=http://www.bonsaresimoveis.com.br/wp-content/uploads/2015/08/0180-destaque.jpg&amp;w=960&amp;h=450&amp;q=100" alt="" />
              </a>
              <h5><a href="http://www.bonsaresimoveis.com.br/?listings=0180-jardim-paraiso">0180 &#8211; Jardim Paraíso </a></h5>
              <p>&nbsp;<a class="small button" href="http://www.bonsaresimoveis.com.br/?listings=0180-jardim-paraiso">Ver Mais</a></p>
            </div>
          </div>

          <div class="four columns listing">
            <div class="post-container short">
              <a href="http://www.bonsaresimoveis.com.br/?listings=0175-sesi">
                <img src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/scripts/resize.php?src=http://www.bonsaresimoveis.com.br/wp-content/uploads/2015/06/0175-DESTAQUE.jpg&amp;w=960&amp;h=450&amp;q=100" alt="" />
              </a>
              <h5><a href="http://www.bonsaresimoveis.com.br/?listings=0175-sesi">0175 &#8211; AEROPORTO </a></h5>
              <p>&nbsp;<a class="small button" href="http://www.bonsaresimoveis.com.br/?listings=0175-sesi">Ver Mais</a></p>
            </div>
          </div>

          <div class="four columns listing">
            <div class="post-container short">
              <a href="http://www.bonsaresimoveis.com.br/?listings=0179-jardim-paraiso">
                <img src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/scripts/resize.php?src=http://www.bonsaresimoveis.com.br/wp-content/uploads/2015/08/0179-destaque.jpg&amp;w=960&amp;h=450&amp;q=100" alt="" />
              </a>
              <h5><a href="http://www.bonsaresimoveis.com.br/?listings=0179-jardim-paraiso">0179 &#8211; Jardim Paraíso </a></h5>
              <p>&nbsp;<a class="small button" href="http://www.bonsaresimoveis.com.br/?listings=0179-jardim-paraiso">Ver Mais</a></p>
            </div>
          </div>

        </div><!--end row-->
      </div><!--end content-->

      <script type="text/javascript">
        function bodyLoad() {
          parmValue = getParameterByName("myparm");
          if(parmValue == 'alertMe') {
            alert('Function successful');
          }
        }
        function getParameterByName(name) {
          var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
          return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
        }
      </script>
    </div><!--wrap-->

    <footer>
      <div class="row">
        <div class="eight columns" style="color: #fff;">
          <p>&copy; 2015 Bons Ares Imóveis  All Rights Reserved </p>
          <p>Endereço: Rua Curuzu, 971 - Centro - Botucatu - SP  |  Cep 18600-060</p>
          <p>Telefone:  (14)3882-6102  |  (14)9791-3069  |  (14)9762-5922  |  (14)9816-0966</p>
        </div><!-- #access -->

        <div class="four columns credits" style="color: #fff;">
          Site desenvolvido por Camila Campos e Luisa Aguirra
        </div>

        <div class="four columns credits" style="color: #fff;">
          <p>
            Both phone and house images are courtesy of digitalart / <a href="http://www.freedigitalphotos.net" target="_blank">FreeDigitalPhotos.net</a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>