<footer>
  <div class="row">
    <div class="eight columns" style="color: #fff;">
      <p>&copy; 2015 Bons Ares Imóveis  All Rights Reserved </p>
      <p>Endereço: Rua Curuzu, 971 - Centro - Botucatu - SP  |  Cep 18600-060</p>
      <p>Telefone:  (14)3882-6102  |  (14)9791-3069  |  (14)9762-5922  |  (14)9816-0966</p>
    </div><!-- #access -->

    <div class="four columns credits" style="color: #fff;">
      Site desenvolvido por Camila Campos e Luisa Aguirra
    </div>

    <div class="four columns credits" style="color: #fff;">
      <p>
        Both phone and house images are courtesy of digitalart / <a href="http://www.freedigitalphotos.net" target="_blank">FreeDigitalPhotos.net</a>
      </p>
    </div>
  </div>
</footer>