<header>
  <div class="row">
    <div id="access" class="twelve columns centered is-padding-bottom-medium">
      <div class="menu-header">
        <ul id="menu-principal" class="menu">
          <li id="menu-item-115" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-115"><%= link_to 'Home', root_path %></li>
          <li id="menu-item-10" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10"><%= link_to 'Sobre', sobre_path %></li>
          <li id="menu-item-106" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-106"><%= link_to 'Contato', contato_path%></li>
          <!-- OUTRAS INFOS DO MENU SUPERIOR
          <li id="menu-item-9" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9"><a href="http://www.bonsaresimoveis.com.br/?page_id=7">Imóveis</a></li>
          <li id="menu-item-634" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-634"><a href="http://www.bonsaresimoveis.com.br/?page_id=631">Formulário de Contato</a></li>
          -->
        </ul>
      </div>
    </div><!-- #access -->
  </div>

  <div class="row is-bg-white">
    <div class="four columns logo-layer">
      <a href="http://www.bonsaresimoveis.com.br"><img src="http://www.bonsaresimoveis.com.br/wp-content/uploads/2013/09/bonsares-logo.jpg" alt="home" /></a>
    </div>
    <!-- CRECI
    <div class="three columns header-box hide-for-small">
      <p class="creci">CRECI 105385</p>
    </div>
    -->
    <div class="four columns hide-for-small header-box">
      <img class="header-img" src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/images/blue_phone.png" alt="">
      <p class="header-text">
        <span>(14) 3882 - 6102</span>
      </p>
    </div>
    <div class="four columns hide-for-small header-box">
      <img class="header-img" src="http://www.bonsaresimoveis.com.br/wp-content/themes/realty/images/home-icon.png" alt="">
      <p class="header-text">
        Rua Curuzu, 971 - Centro - Botucatu
      </p>
    </div>
    <!-- SEARCH BOX
    <div class="three columns search-layer hide-for-small">
      <form role="search" method="get" id="searchform" action="http://www.bonsaresimoveis.com.br/">
        <input type="text" value="" name="s" id="s" />
        <input type="submit" id="searchsubmit" value="Search" />
      </form>
    </div>
    -->
  </div>
</header>